<!DOCTYPE html>
<html>
<head>
  <title>Diagnosis_Tracker</title>
<h1> DitzSoft NHS IT-DISASTER-APP 2000 </h1>
<body>
  <nav id="menu"
    <li><a href='/'>HOME</a></li>
    <li><a href='/patients'>All Patients</a></li>
    <li><a href='/diseases'>All Diseases</a></li>
    <li><a href='/diagnoses'>All Diagnoses</a></li>
  </nav>

  <%= yield %>
</body>
</html>
