<!DOCTYPE html>
<html lang="en-GB">
<head>
  <meta charset="utf-8">
    <title>Diagnosis Tracker 2000</title>
    <link rel="stylesheet" href="styles/styles.css" type="text/css">
<head>


<body>
<main class="flex flex--row">
  <header> DitzSoft NHS 'IT-DISASTER-APP-2000' </header>
  <nav id="navigation-menu">
    <ul>
      <li>
        <a href='/'>Home Screen</a>
      </li>
      <li>
        <a href='/patients'>Patients</a>
      </li>
      <li>
        <a href='/diseases'>Diseases</a>
      </li>
      <li>
        <a href='/diagnoses'>Diagnoses</a>
      </li>
    </ul>
  </nav>

  <section id="content">
  <%= yield %>
</section>
</body>
</html>
