<!DOCTYPE html>
<html>
<head>
  <title>Diagnosis_Tracker</title>
<h1> DitzSoft NHS IT-DISASTER-APP 2000 </h1>
<body>
  <nav id="menu"
    <li><a href='/'>HOME</a></li>
    <li><a href='/patients'>ALL PATIENTS</a></li>
  </nav>

  <%= yield %>
</body>
</html>
