<h1> A new patient record was created for <%= @patient.first_name + " " + @patient.second_name %> </h1>

  <form action="/patients/<%= @patient.id %>" method="GET">
    <input type="submit" value="View Newly Created Patient">
  </form>
