 body{
   background-image: url('../images/background.jpg');
   background-size: 50%;
   margin: 0px;
   padding: 150px;
 }

 h1, h2 {
   font-size: 1.8em;
   color: darkblue;
   margin-bottom: 20px;
   background: white;
 }

 td, th {
   text-align: left;
 }

 td {
   padding: 10px 20px 0px 0px;
 }

 th {
   padding: 0px 20px 10px 0px;
   border-bottom: 1px solid papayawhip;
 }

 table {
   border-collapse: collapse;
   background: white;
 }

 caption {
   background: white;
 }

 header {
   background: white;
 }

 nav {
   background: white;
 }
